<div class="center jumbotron" >
<div class="centervert">
  <h1>alpha blog</h1>
  <%= link_to "Sign Up", "#", class: "btn btn-primary btn-large btn-xlarge" %>
</div>
</div>

<!--
<%= link_to image_tag('bike.jpg'), 'http://www.rossburke.net' %>

<%= link_to 'ALPHA BLOG', articles_path %> |
<%= link_to 'About', about_path %>
-->