<div class="center jumbotron">
  <h1>ALPHA BLOG</h1>
  <%= link_to "Sign up", "#", class: "btn btn-primary btn-large btn-xlarge" %>
</div>

<!--
<%= link_to image_tag('bike.jpg'), 'http://www.rossburke.net' %>

<%= link_to 'ALPHA BLOG', articles_path %> |
<%= link_to 'About', about_path %>
-->